@model Sheet4StarSubs.Models.Order
@{
    ViewBag.Title = "Receipt";
}

<div style="text-align:center">
    <h1>StarSubs Receipt</h1>
    <h2>Today's Date: @DateTime.Today.ToLongDateString()</h2>
</div>

<div class="receipt-items">
    <div style="float:left; width:50%;text-align:right; padding-right:3%;">
        <p>Type of Sub:</p>
        <p>Size of Sub:</p>
        <p>Type of Meal Deal:</p>
        <p>Quantity:</p>
        <p>Total Price of Sub:</p>
        <p>Price of Meal Deal:</p>
        <p>Price of a Single Meal:</p>
        <p></p>
        <br />
        <br />
        <p>Cost:</p>
        <p>Tax:</p>
        <p>Total Due:</p>
    </div>
    <div style=" float:right; width:50%;">
        <p>@ViewBag.Sub</p>
        <p>@ViewBag.Bread</p>
        <p>@ViewBag.DealName</p>
        <p>@ViewBag.Quantity</p>
        <p>@ViewBag.PriceSub.ToString("c2")</p>
        <p>@ViewBag.PriceDeal.ToString("c2")</p>
        <p>@ViewBag.SingleCost.ToString("c2")</p>
        <p></p>
        <br />
        <br />
        <p>@ViewBag.Cost.ToString("c2")</p>
        <p>@ViewBag.Tax.ToString("c2")</p>
        <p>@ViewBag.Total.ToString("c2")</p>
        <br />
        <br />
    </div>
</div>
<div style="text-align:center" s>
    @Html.ActionLink("Place another order", "Index", "Home")
</div>