<!--Sheet 5 Start-->
@model Sheet4StarSubs.Models.Order
@{
    ViewBag.Title = "Totals";
}
<div style="text-align:center">
    <h1>StarSubs Totals</h1>
    <h2>Today's Date: @DateTime.Today.ToLongDateString()</h2>
</div>

@if (Session[@DateTime.Today.ToLongDateString()] != null)
{
    List<Sheet4StarSubs.Models.Order> ordersObj = (List<Sheet4StarSubs.Models.Order>)Session[@DateTime.Today.ToLongDateString()];
    for (int i = 0; i < ordersObj.Count; i++)
    {
        <div class="receipt-items">
            
            <div style="padding-top:5%;">
                <h3>Order #@(i+1)</h3>
                <p><b>Type of Sub:</b> @ordersObj[i].Sub</p>
                <p><b>Size of Sub:</b> @ordersObj[i].Size</p>
                <p><b>Type of Meal Deal: </b>@ordersObj[i].MealDeal</p>
                <p><b>Quantity:</b> @ordersObj[i].Quantity</p>
            </div>
        </div>
    }
    <div style="padding-top :5%;">
        <b>
            <h3>Daily report</h3>
            <p>Daily Tax: $@(Math.Round(((double)TempData.Peek(@DateTime.Today.ToLongDateString())-(double)TempData.Peek(@DateTime.Today.ToLongDateString()) / 1.15),2))</p>
            <p>Daily Income: @((double)TempData.Peek(@DateTime.Today.ToLongDateString()) / 1.15)</p>
        </b>
    </div>
}
<div style="text-align:center">
    @Html.ActionLink("Place another order", "Index", "Home")
</div>

<!--Sheet 5 End-->